<div class="chat">
  <div class="conversations">
    <div class="mensaje" *ngFor="let m of chat.messages">
      <div [ngClass]="m.type">
          <div class="text">{{m.message}}</div>
      </div>
    </div>
  </div>
  <div class="sender">
    <input type="text" [(ngModel)]="msgToSend" />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>

<hr>
<div>
  <label for="">Name for the New Game</label>
    <input type="text" [(ngModel)]="nameGame" />
    <button (click)="getNewGame(nameGame)">Create New Game</button>
</div>

<hr>

<div *ngIf="this.chat.gameSocket">
  <div class="game-board">
    <h2>{{ this.chat.gameSocket.name }} - Created by {{ this.chat.gameSocket.creator.username }}</h2>
    <hr>
    <div *ngIf="creator">
      <p>Soy el creador del juego</p>
    </div>
    <div *ngIf="!creator">
      <p>Join the game</p>
    </div>
    <!-- <div class="question-block" *ngIf="!chat.currentQuestion">
      <h3>Game starting in {{ chat.timer }}</h3>
    </div> -->
    <hr>
  </div>
</div>

<!-- <button (click)='getQuestions()'>Get Question</button> -->
<div *ngIf=this.chat.currentQuestion>

  {{this.chat.currentQuestion | json}}
</div>