<!-- <div class="chat">
  <div class="conversations">
    <div class="mensaje" *ngFor="let m of chat.messages">
      <div [ngClass]="m.type">
          <div class="text">{{m.message}}</div>
      </div>
    </div>
  </div>
  <div class="sender">
    <input type="text" [(ngModel)]="msgToSend" />
    <button (click)="sendMessage()">Enviar</button>
  </div>
</div>

<hr>
<div>
  <label for="">Name for the New Game</label>
    <input type="text" [(ngModel)]="nameGame" />
    <button (click)="getNewGame(nameGame)">Create New Game</button>
</div>

<hr>


<div *ngIf="chat.gameObj.name">
  <div class="game-board">
    <h2>{{ chat.gameObj.name }} - Created by {{ user.username }}</h2>
    <hr>
    <div *ngIf="chat.gameObj.name">

    </div>
    <div class="question-block" *ngIf="!chat.currentQuestion">
      <h3>Game starting in {{ chat.timer }}</h3>
    </div>
    <hr>
  </div>
</div> -->

<button (click)="getNewGame(nameGame)">Create New Game</button>
<button (click)='getQuestions()'>Get Question</button>
