<div class="row">
  <div class="col-md-6 center">
    <div class="row games-board">
      <h2>Public Games</h2>
      <div *ngFor='let game of this.chat.allGames' class="game-item">
        <div class="cover-img">
          <h3 class="item-game">{{ game.name }}</h3>
          <p>Created by
            <b>{{ game.creator.username }}</b>
          </p>
          <p>Game Status: {{ game.status }}</p>
          <div *ngIf='game.status === "ready"'>
            <button (click)='joinGame(game._id)' class="btn btn-lg btn-warning btn-lng">Join this Game</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 center">
    <div class="row game-form">
      <div *ngIf='user.username === admin'>
        <h2>CREATE A NEW GAME</h2>
        <label for="">Name for the New Game</label>
        <input class="form-control" type="text" [(ngModel)]="nameGame" />
        <br>

        <label for="">Number of questions per category</label>
        <input class="form-control" type="number" min="1" max="5" [(ngModel)]="numberQuestionsCat" />
        <br>
        <button (click)="getNewGame(nameGame, numberQuestionsCat)" class="btn btn-lg btn-success btn-lng">Create New Game</button>
      </div>
    </div>
  </div>
</div>