<div>
  <div *ngFor='let game of games'>
    <h2>{{ game.name }}</h2>
    <p>Created by <b>{{ game.creator.username }}</b></p>
    <p>Game Status: {{ game.status }}</p>
    <div *ngIf='game.status === "ready"'>
      <button (click)='joinGame(game._id)'>Join this Game</button>
    </div>
  </div>
</div>
<hr>

<div *ngIf='admin'>
    <label for="">Name for the New Game</label>
    <input type="text" [(ngModel)]="nameGame" />
    <hr>
    <label for="">Number of questions per category</label>
    <input type="number" [(ngModel)]="numberQuestionsCat" />
    <button (click)="getNewGame(nameGame, numberQuestionsCat)">Create New Game</button>
  </div>
  
  <hr>
