<div class="site-wrapper">
  <nav class="navbar navbar-black">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Trivial Coding Game</a>
      </div>
      <ul *ngIf="!session.getUser()" class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-link btn-lg glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal1">SignUp</button>
        <button type="button" class="btn btn-link btn-lg glyphicon glyphicon-log-in" data-toggle="modal" data-target="#myModal2">LogIn</button>
      </ul>
      <ul *ngIf="session.getUser()" class="nav navbar-nav navbar-right">
        <button type="button" (click)="logout()" class="btn btn-link btn-lg glyphicon glyphicon-log-out">LogOut</button>
      </ul>
    </div>
  </nav>

  <div class="container-form">    
      <!-- Modal -->
      <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">SignUp Form</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                <input id="username" type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
                </div>
                <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                <input id="password" type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
              </div>
            </div>
            <div>
                <p *ngIf="error" class="error"> {{ error }} </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="signup()" data-dismiss="modal">SignUp</button>
            </div>
          </div>          
        </div>
      </div>      
    </div>

    <div class="container-form">    
        <!-- Modal -->
        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login Form</h4>
              </div>
              <div class="modal-body">
                  <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                  <input id="username" type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
                  </div>
                  <div class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                    </span>
                  <input id="password" type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
                </div>
              </div>
              <div>
                  <p *ngIf="error" class="error"> {{ error }} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="login()" data-dismiss="modal">Login</button>
              </div>
            </div>          
          </div>
        </div>      
      </div>



  <div class="site-wrapper-inner">
      <div class="masthead clearfix">
        <div class="inner">
          <div *ngIf="!session.getUser()">
            <div class="cover-container center">
    
              <h3>Log with Facebook</h3>
              <img class="facebook" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/50px-F_icon.svg.png" alt="">
    
              <button (click)="loginFb()" class="btn btn-lg btn-success btn-lng">
                Login
              </button>
    
              <!-- <button (click)="getFbProfile()" class="btn btn-lg btn-primary btn-block">
                Get profile
              </button> -->
            </div>
          </div>
      </div>

    </div>
  </div>
</div>